{
  "presets": [
    "react",
    ["@babel/preset-env", {
      "targets": {
        "browsers": ["last 2 versions"]
      }
    }]
  ],
  "plugins": [
    "jsx-control-statements",
    "transform-function-bind"
  ]
}
